# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Uu]serSettings/

# Visual Studio / Rider
.vs/
.vscode/
.vsconfig
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.suo

# OS
.DS_Store
Thumbs.db
